*{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: white;
    color: black;
    padding: 20px;
}
body{
    background-color: #24272E;
    color: white;
}
.scorebar{
    border: 3px solid white;
    width: 200px;
    margin: 20px auto;
    padding: 15px 20px;
    font-size: 46px;
    position: relative;
}
.badge{
    font-size: 14px;
    background-color: #e25840;
    padding: 2px 10px;
    width: 50px;
}
#user{
    position: absolute;
    top: 35px;
    left: -25px;
}
#com{
    position: absolute;
    top: 35px;
    right: -30px;
}
.result{
    font-size: 32px;
    font-weight: bold;
}
.choices{
    margin: 50px 0;
    text-align: center;
}
.choice{
    display: inline-block;
    margin: 0 10px;
    /*transition: all 1s ease;*/
}
img{
    width: 100px;
    border-radius: 50%;
}
.choice:hover{
    cursor: pointer;
}
.message{
    font-weight: bold;
    font-size: 20px;
}